<a href="https://colab.research.google.com/github/pedrohfs31/aprenda-rubyonrails/blob/master/C%C3%B3pia_de_ler_dataset_na_pasta_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%cd /content/drive/My Drive/Colab Notebooks/bootcamp/dados

/content/drive/My Drive/Colab Notebooks/bootcamp/dados

In [6]:
adv = pd.read_csv('Advertising.csv')

In [7]:
adv.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [8]:
# verificar diretório atual
%pwd

'/content/drive/My Drive/Colab Notebooks/bootcamp/dados'